/*** GLOBAL ***/
@font-face {
  font-display: swap;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("../fonts/Metropolis-Medium.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis-SemiBold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Metropolis-ExtraBold.woff2") format("woff2"), url("../fonts/Metropolis-ExtraBold.woff") format("woff");
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #9998a4;
  font-family: "Metropolis", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}

.main {
  margin-bottom: 110px;
}
@media (max-width: 991.98px) {
  .main {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .main {
    margin-bottom: 60px;
  }
}
@media (max-width: 479.98px) {
  .main {
    margin-bottom: 40px;
  }
}

/*** BLOCKS ***/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  white-space: nowrap;
}

.button {
  display: inline-block;
  padding: 13px;
  border: 0;
  background-color: #2962ef;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.button:hover, .button:focus {
  background-color: #114cdd;
}
.button:active {
  opacity: 0.7;
}

.menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 25px 50px;
}
@media (max-width: 767.98px) {
  .menu {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 73px);
    flex-direction: column;
    padding: 0;
    padding-bottom: 16px;
    background-color: #5481f2;
    gap: unset;
    transform: translateX(-1000px);
    transition: transform 0.3s;
  }
  .no-js .menu {
    position: static;
    min-height: auto;
  }
}

.menu--opened .menu {
  transform: translateX(0);
}

@media (max-width: 767.98px) {
  .menu > li {
    width: 100%;
  }
}

.menu__link {
  display: block;
  color: #5e5c6c;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #848194;
}
.menu__link:active {
  opacity: 0.7;
}
@media (max-width: 767.98px) {
  .menu__link {
    padding: 12.5px;
    color: #ffffff;
    font-size: 1.5rem;
  }
  .menu__link:hover, .menu__link:focus {
    background-color: #6991f4;
    color: #ffffff;
  }
}

.menu__link--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.menu__button {
  min-width: 110px;
}
@media (max-width: 767.98px) {
  .menu__button {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .menu__button {
    margin: 0 20px;
  }
}

.hero {
  overflow: hidden;
  min-height: 692px;
}
@media (max-width: 767.98px) {
  .hero {
    min-height: 500px;
  }
}
@media (max-width: 479.98px) {
  .hero {
    min-height: auto;
  }
}

.hero__container {
  position: relative;
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero__content {
  position: relative;
  z-index: 1;
  max-width: 530px;
  padding-top: 100px;
}
@media (max-width: 767.98px) {
  .hero__content {
    padding-top: 50px;
  }
}
@media (max-width: 479.98px) {
  .hero__content {
    padding-top: 25px;
  }
}

.hero__top:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 767.98px) {
  .hero__top:not(:last-child) {
    margin-bottom: 65px;
  }
}
@media (max-width: 479.98px) {
  .hero__top:not(:last-child) {
    margin-bottom: 40px;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 15px;
  color: #232427;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.29;
}
@media (max-width: 479.98px) {
  .hero__title {
    font-size: 36px;
  }
}

.hero__text {
  margin: 0;
  margin-bottom: 62px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .hero__text {
    margin-bottom: 40px;
  }
}

.hero__button {
  min-width: 144px;
  padding-right: 50px;
  padding-left: 24px;
  margin-right: 15px;
  background-image: url("../img/icons/icons.svg#arrow");
  background-position: right 25px center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
@media (max-width: 479.98px) {
  .hero__button {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.hero__demo {
  display: inline-block;
  min-width: 144px;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #2962ef;
  font-size: 14px;
  line-height: 1;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.3s cubic-bezier(0.39, 0.57, 0.56, 1);
}
.hero__demo:hover, .hero__demo:focus {
  border-color: #2962ef;
}
.hero__demo:active {
  opacity: 0.6;
}
@media (max-width: 479.98px) {
  .hero__demo {
    display: block;
  }
}

.hero__img-box {
  position: absolute;
  top: 0;
  left: 417px;
}
@media (max-width: 479.98px) {
  .hero__img-box {
    position: static;
  }
}

.hero__img {
  display: block;
}
@media (max-width: 479.98px) {
  .hero__img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.stats__title {
  margin-bottom: 25px;
  text-transform: uppercase;
}
@media (max-width: 479.98px) {
  .stats__title {
    font-size: 16px;
    text-align: center;
  }
}

.stats__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 40px 80px;
}
@media (max-width: 767.98px) {
  .stats__list {
    gap: 40px;
  }
}
@media (max-width: 479.98px) {
  .stats__list {
    justify-content: center;
    gap: 30px;
  }
}

.stats__item {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}

.stats__list dt {
  color: #5e5c6c;
  line-height: 1;
  text-transform: uppercase;
}

.stats__list dd {
  margin: 0;
  color: #232427;
  font-size: 36px;
  line-height: 1;
}

.steps {
  margin-top: 110px;
}
@media (max-width: 767.98px) {
  .steps {
    margin-top: 80px;
  }
}

.steps__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.steps__inner {
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991.98px) {
  .steps__inner {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .steps__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .steps__inner {
    grid-template-columns: auto;
  }
}

.steps__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
}

.steps__title {
  margin: 0;
  margin-bottom: 15px;
  color: #232427;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.22;
}

.steps__subtitle {
  max-width: 281px;
  margin: 0;
}

/***** STEP *****/
.step {
  position: relative;
  padding: 177px 40px 91px;
  border: 1px solid #efeff4;
  border-radius: 8px;
}
.step--bg {
  border-color: #fafbfd;
  background-color: #fafbfd;
}
.step::before {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 77px;
  height: 77px;
  background-color: #fafbfd;
  background-image: url("../img/icons/icons.svg#people");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-radius: 50%;
  content: "";
}
.step--safe::before {
  background-image: url("../img/icons/icons.svg#safe");
}
.step--account-tree::before {
  background-image: url("../img/icons/icons.svg#account-tree");
}
.step--request-quote::before {
  background-image: url("../img/icons/icons.svg#request-quote");
}
.step--account::before {
  background-image: url("../img/icons/icons.svg#account");
}
@media (max-width: 991.98px) {
  .step {
    padding: 120px 30px 50px;
  }
  .step::before {
    top: 20px;
    left: 30px;
  }
}

.step__title {
  margin: 0;
  margin-bottom: 16px;
  color: #232427;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
}

.step__text {
  margin: 0;
}

.trusted {
  padding: 50px 0;
  margin-top: 110px;
  background-color: #faf9fa;
}
@media (max-width: 767.98px) {
  .trusted {
    margin-top: 80px;
  }
}
@media (max-width: 479.98px) {
  .trusted {
    margin-top: 60px;
  }
}

.trusted__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.trusted__title {
  margin: 0;
  margin-bottom: 46px;
  color: #232427;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.trusted__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 40px 69px;
}

.trusted__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backed {
  padding: 32px 0 42px;
  margin-top: 110px;
}
@media (max-width: 767.98px) {
  .backed {
    margin-top: 50px;
  }
}

.backed__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.backed__header {
  margin-bottom: 45px;
  overflow-x: hidden;
}
@media (max-width: 991.98px) {
  .backed__header {
    margin-bottom: 30px;
    text-align: center;
  }
}

.backed__title {
  margin: 0;
  margin-bottom: 15px;
  color: #232427;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.22;
}

.backed__subtitle {
  margin: 0;
  color: #5e5c6c;
  line-height: 1;
}

/*** Backers ***/
.backers {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  justify-content: center;
  gap: 30px 20px;
  grid-template-columns: repeat(auto-fit, 255px);
}
@media (max-width: 767.98px) {
  .backers {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 569.98px) {
  .backers {
    grid-template-columns: 1fr;
  }
}

.backers__item {
  padding: 20px;
  background-color: #fafbfd;
  border-radius: 4px;
}

.backers__item--secondary {
  background-color: #ffffff;
  box-shadow: 0 10px 100px rgba(35, 36, 39, 0.15);
}

.backers__avatar {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}

.backers__name {
  display: block;
  margin-bottom: 7px;
  color: #232427;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.backers__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.backers__link {
  color: #5e5c6c;
  outline: 0;
  text-decoration: none;
}
.backers__link svg {
  display: block;
}
.backers__link--linkedin {
  color: #232427;
}
.backers__link:hover, .backers__link:focus {
  color: #2962ef;
}
.backers__link:active {
  opacity: 0.6;
}

.header__nav {
  position: relative;
  display: flex;
  max-width: 1120px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .no-js .header__nav {
    flex-direction: column;
  }
}

.header__logo {
  outline: 0;
}
.header__logo:hover, .header__logo:focus {
  opacity: 0.7;
}
@media (max-width: 767.98px) {
  .header__logo {
    padding: 20px 0;
    margin: 0 auto;
  }
}

.header__logo-img {
  display: block;
  width: 96px;
  height: 33px;
}

.burger {
  position: absolute;
  z-index: 101;
  top: 24px;
  right: 20px;
  display: none;
  width: 32px;
  height: 24px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after, .burger span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2962ef;
  content: "";
  transition: all 0.3s ease-in;
}
.burger::after {
  top: 50%;
  margin-top: -1px;
}
.burger span {
  top: auto;
  bottom: 0;
  opacity: 1;
}
@media (max-width: 767.98px) {
  .burger {
    display: block;
  }
}

.burger--opened::before, .burger--opened::after {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
.burger--opened::after {
  transform: rotate(-45deg);
}
.burger--opened span {
  opacity: 0;
}

.no-js .burger {
  display: none;
}

.footer {
  padding: 97px 0 80px;
  background-color: #232427;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 40px 0;
  }
}

.footer__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .footer__inner {
    flex-direction: column-reverse;
  }
}

.footer__column {
  display: flex;
  max-width: 344px;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .footer__column {
    max-width: none;
  }
  .footer__column:not(:last-child) {
    margin-top: 40px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo:hover, .footer__logo:focus {
  opacity: 0.7;
}

.footer__logo-img {
  display: block;
  width: 118px;
  height: 39px;
}

.footer__text {
  margin: 0;
  margin-bottom: 20px;
}

.footer__box {
  padding-bottom: 9px;
  margin-top: auto;
  color: #d6d5df;
  font-weight: 400;
  line-height: 1;
}

.footer__love {
  display: block;
  margin-bottom: 7px;
}

.footer__year {
  display: block;
}

.footer__social {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  margin-top: auto;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 50px);
}
@media (max-width: 767.98px) {
  .footer__social {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .footer__social {
    gap: 15px;
  }
}

.footer__social-link {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: #5e5c6c;
  border-radius: 50%;
  color: #ffffff;
  outline: 0;
  transition: transform 0.3s cubic-bezier(0.16, 0.84, 0.44, 1);
}
.footer__social-link svg {
  max-width: 100%;
  height: auto;
}
.footer__social-link:hover, .footer__social-link:focus {
  color: #cd201f;
  transform: translateY(-4px);
}
.footer__social-link:hover .youtube-play, .footer__social-link:focus .youtube-play {
  fill: #ffffff;
}
.footer__social-link:active {
  opacity: 0.6;
}

/*** Newsletter ***/
.newsletter {
  margin-bottom: 34px;
}
@media (max-width: 767.98px) {
  .newsletter {
    margin-bottom: 20px;
  }
}

.newsletter__title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.newsletter__box {
  position: relative;
  margin-bottom: 10px;
}

.newsletter__submit {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 2px solid transparent;
  background: #2962ef url("../img/icons/icons.svg#paper-airplane") no-repeat center/18px 18px;
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
}
.newsletter__submit:hover, .newsletter__submit:focus {
  background-color: #0f43c3;
}
.newsletter__submit:active {
  opacity: 0.6;
}

.newsletter__input {
  display: block;
  width: 100%;
  padding: 21px 50px 21px 20px;
  border: 0;
  background-color: #ffffff;
  border-radius: 4px;
  color: #232427;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  outline: 0;
}
.newsletter__input::-moz-placeholder {
  color: #9998a4;
}
.newsletter__input::placeholder {
  color: #9998a4;
}

.newsletter__text {
  margin: 0;
  font-weight: 400;
}