// Container & Breakpoints
@use "sass:math";
$containerWidth: 1080;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);


$breakpoint768: 767.98px;
$breakpoint480: 479.98px;

// $burgerBrekpoint: $breakpoint768;
// $burgerColor: #ff0000;
// $burgerActiveColor: #0000ff;


//Fonts
$primaryFont : "Metropolis", sans-serif;

//Colors
$primaryColor: #9998a4;
$secondaryColor: #232427;
$specialColor: #2962ef;
